:root {
    --color-primary:rgb(219, 193, 172);
    --color-secondary:rgb(99, 72, 50);  
  
    --color-neutral-light:hsl(34, 73%, 96%);
    --color-neutral-dark: hsl(28, 58%, 14%);

    --color-background:rgb(170, 133, 107);  

    
    --font-family-header: 'Candal', sans-serif;
    --font-family: 'Mulish', sans-serif;
    --font-size: 62.5%;
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
  
    --fs-100: 1rem;
    --fs-200: 1.75rem;
    --fs-300: 2rem;
    --fs-400: 2.5rem;
    --fs-500: 3rem;
}

body {
    background-color: var(--color-background);
    color:var(--color-neutral-light);
    font-family: var(--font-family);
}

header {
    font-family: var(--font-family-header);
}